<!-- Please remove this file from your project -->
<template>
  <div class="bg-gradient-to-t from-color2 to-color3">
    <div
      class="
        rounded-b-xl
        shadow shadow-3xl
        h-16
        bg-color0
        justify-center
        flex-col flex
        overflow-hidden
      "
    >
      <div class="bg-gradient-to-r from-color9 to-color11 h-1.5" />
      <div class="flex flex-row-reverse center bg-color0 items-center flex-1">
        <span class="mr-4 text-color8">Login</span>
      </div>
    </div>
    <div>
      <p
        class="
          t-90
          text-4xl
          tracking-widest
          text-center text-color6
          p-5
          font-medium
        "
      >
        {{ "Deine Job \n website" }}
      </p>
      <div class="flex flex-row item-center justify-center">
        <img class="" src="../assets/svg/deal.svg" />
      </div>
    </div>
    <div
      class="
        rounded-t-xl
        shadow shadow-top
        bg-color0
        justify-center
        flex-col flex
        overflow-hidden
        pt-6
        items-center
      "
    >
      <button
        class="
          rounded-lg
          bg-gradient-to-r
          from-color9
          to-color11
          h-10
          text-color0 text-smx
          mb-10
        "
        style="width: 320px"
      >
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>
