<template lang="html">
  <div>
    <div v-show="isActive" class="mt-3 w-70 border-solid p-5">
      <p class="text-color5 font-normal text-xl	text-center whitespace-pre">{{data.title}}</p>
    </div>
    <div class="flex-col" style="margin-bottom: 150px;">
      <div name="step1 p-5">
        <img v-if="data.id" v-bind:src="getPic(data.id ,1)" class="ml-28 pr-5"/>
        <div style="margin-top: -50px;" class="flex flex-row">
          <p class="font-medium text-9xl text-color4 pl-2.5">1.</p>
          <div class="flex flex-col-reverse mb-3 pl-5">
            <p class="font-normal text-base	text-color4 whitespace-pre-line" >
              {{data.step1}}
            </p>
          </div>  
          
        </div>
      </div>
      <div name="step2" class="bg-gradient-to-r from-color1 to-color2 mt-5">
        <div class="flex flex-row pt-10">
          <p class="font-medium text-9xl text-color4 pl-9">2.</p>
          <div class="flex flex-col-reverse mb-3 pl-5">
            <p class="font-normal text-base text-color4 pl-5 whitespace-pre-line" >
              {{data.step2}}
            </p>
          </div>  
          
        </div>
        <img v-if="data.id" v-bind:src="getPic(data.id ,2)" class="ml-28 pr-5"/>
      </div>

      <div name="step3" class="bg-gradient-to-r from-color3 to-color0 ">
        <div class="flex flex-row pt-10">
          <p class="font-medium text-9xl text-color4 pl-14">3.</p>
          <div class="flex flex-col-reverse mb-3 pl-5">
            <p class="font-normal text-base text-color4 pl-5 whitespace-pre-line" >
              {{data.step3}}
            </p>
          </div>  
        </div>
        <img v-if="data.id" v-bind:src="getPic(data.id ,3)" class="ml-28 pr-5"/>
      </div>
    </div>  
  </div>
</template>

<script>
export default {
  methods: {
    getPic(step, index) {
      return require("../assets/svg/" + step + "-" + index + ".svg");
    },
  },
  props: {
    data: {
      type: Object,
      default: {
        id: 1,
        tabTitle: "Tabtitle",
        title: "Title",
        step1: "Step1",
        step2: "Step2",
        step3: "Step3",
      },
    },
  },
  data() {
    return {
      isActive: true,
    };
  },
};
</script>