<template lang="html">
  <div class="relative">
    <ul 
      :style="{ 'margin-left': `-${selectedIndex* 100}px` }"
      :class="`tab-container active-${selectedIndex} flex flex-row pl-5 pr-5 overflow-hidden`">
        <li
            v-for="(tab, index) in tabs"
            :key="tab.title"  
            @click="selectTab(index)"
            :class="`${getItemClass(index)} item z-20`"
            style="min-width: 160px;"
        >
            {{ tab.title }}
        </li>
    </ul>
    <div name="mask"
        :class="getMaskClass" 
        :style="getMaskLeft"
    />
    
    <slot></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [], // all of the tabs
    };
  },
  created() {
    this.tabs = this.$children;
  },
  mounted() {
    this.selectTab(0);
  },
  computed: {
    getMaskLeft: function () {
      return "margin-left:" + (this.selectedIndex * 60 + 20) + "px";
    },
    getMaskClass: function () {
      let result_class =
        "mask absolute h-10 items-center flex justify-center border-color7 border bg-color8 w-40 z-10";
      if (this.selectedIndex === 0) {
        result_class += " rounded-l-xl	";
      }
      if (this.selectedIndex === 2) {
        result_class += " rounded-r-xl	";
      }
      return result_class;
    },
  },
  methods: {
    selectTab(i) {
      this.selectedIndex = i;

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = index === i;
      });
    },
    getItemClass(ind) {
      let result_class =
        "h-10 items-center flex justify-center border-color7 border";
      if (ind === this.selectedIndex) {
        result_class += " text-color0 bl-0 br-0 bt-1 bb-1";
        if (ind === 0) {
          result_class += " rounded-l-xl	";
        }
        if (ind === 2) {
          result_class += " rounded-r-xl	";
        }
      } else {
        result_class += " text-color9 ";
      }
      return result_class;
    },
  },
};
</script>