@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-container{
    transition:0.3s margin-left ease;
}

.mask {
    top: 0px;
    transition: 0.3s margin-left;
}
/* .item{
    transition: 0.3s background;
} */