<template>
  <div class="container mx-auto">
    <Header />
    <tabs>
      <tab v-for="(step, index) in data" :title="step.tabTitle" :key="index">
        <TabContent :data="step" />
      </tab>
    </tabs>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "IndexPage",

  data: function () {
    return {
      data: [
        {
          id: 1,
          tabTitle: "Arbeitnehmer",
          title: "Drei einfache Schritte \n zu deinem neuen Job",
          step1: "Erstellen dein \n Lebenslauf",
          step2: "Erstellen dein Lebenslauf",
          step3: "Mit nur einem Klick \n bewerben",
        },
        {
          id: 2,
          tabTitle: "Arbeitgeber",
          title: "Drei einfache Schritte \n zu deinem neuen Mitarbeiter",
          step1: "Erestellen dein \n Unternehmensprofil",
          step2: "Erestellen ein Jobinserat",
          step3: "Wähle deinen \n neuen Mitarbeiter aus",
        },
        {
          id: 3,
          tabTitle: "Temporaburo",
          title: "Drei einfache Schritte zur \n Vermittlung neuer Mitarbeiter",
          step1: "Erestellen dein \n Unternehmensprofil",
          step2: "Erhalte Vermittlungs-\n angebot von Arbeitgeber",
          step3: "Vermittlung nach\n Provision oder\n Stundenlohn",
        },
      ],
    };
  },
});
</script>
